/* This is where styles are defined for your page. */
/* One style is provided as example. */

.page-header {
    color: black;
    font-family: sans-serif;
    font-style: underline;
    text-align: center
  }

body {
  background-image: url('images/hard-paper-texture.jpg');
  margin: 2cm;
  }

img {
  display: block;
  float: right
}

.more-info {
  text-align: center;
  border: dotted;
  padding: 10px;
  width: 350px;
  background-color: #ffb775
}

.more-info img {
  width: 150px;
  height: auto
}

ul.info-links {
   text-align: left
}

ul.social-links {
  text-align: left
}

ul.poem {
    font-family: courier;
    color: #421F00;
    text-align: center;
    list-style: none;
    border-style: dotted;
    line-height: 200%;
    width: 700px;
    padding: 10px;
    float: right;
}

.poem li::first-letter {
  font-size: 150%;
  font-style: italic
}

